.section-footer{


    height: 620px;
    background-color: rgba(0, 0, 255, 0.101);
    border: 1px solid black;
    bottom: 0px;
}
.section-footer-sub-8-1{
    height: 550px;
    margin-left: 20px;margin-right: 20px;
    margin-top:2.9%;
    display: flex;
    border: 1px solid rgb(247, 40, 126);    
}
.section-footer-sub-8-1-1{
    background-size: cover;
    width: 50%;height: 50%;
    border: 1px rgb(7, 7, 7) solid;
}