.section-footer{
    height: 620px;
    background-color: rgba(159, 159, 200, 0.101);
    border: 1px solid black;
   
}
.section-footer-sub-8-1{
    height: 550px;
    margin-left: 20px;margin-right: 20px;
    margin-top:2.9%;
    display: flex;
    border: 1px solid rgb(247, 40, 126);    
}
.section-footer-text-sub-8-1-1{
    display: flex;
    width:25%;height:80%;
    border: 1px rgb(7, 7, 7) solid;
    margin-left:6px;
    flex-direction:column;
    position: relative;
    display:inline-block;
    
}
.footer-8-1-1-1 h3{
    font-size: 15px;   
}
.footer-8-1-1-1 p{
    
    font-size: 12px;
    margin-top:1%;
}


.footer-8-1-1-2 h3{
    font-size: 15px;
}
.footer-8-1-1-2 p{
    font-size: 12px;
    margin-top:1%;
}



.footer-8-1-1-3{
    font-size: 13px;
}
.footer-8-1-1-3 p{
    font-size: 12px;
    margin-top:1%;
}



.footer-8-1-1-4 h3{
    font-size: 15px;
}
.footer-8-1-1-4 p{
    font-size: 12px;
    margin-top:1%;
}


.footer-8-1-1-5 h3{
    font-size: 15px;
}
.footer-8-1-1-5 p{
    font-size: 12px;
    margin-top:1%;
}


