*{font-family: adobe-clean,Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;


}

.section-footer{

    height: auto;width: 100%;
    background-color: rgba(159, 159, 200, 0.101);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(207, 156, 255);

    
   
}


.section-footer-sub-1{

    width: 100%;height: auto;
    background-color: blue;

    display: flex;
    align-items: center;
    justify-content: center;
}
.section-footer-sub-2{

    width: 100%;height: 157.48px;
    background-color: rgb(255, 238, 0);

    display: block;
    align-items: center;
    justify-content: center;
}





.section-footer-sub-8-1{

   /*  margin-top: 20px; */
    
    height: 399.359px;width: 100%;
    

/*     margin-top:80px; */
    display: flex;
    border: 1px solid rgb(96, 255, 48);  
    margin-left: 15%;margin-right: 15%;

    align-items: start;  
    justify-content: center;

}
.section-footer-text-sub-8-1-1{

    display: flex;

    border: 1px rgb(7, 7, 7) solid;

    flex-direction:column;
    column-fill: balance;






}
.footer-8-1-1-1 h3{
    font-size: 15px; 
      
}
.footer-8-1-1-1 p{
    
    font-size: 13px;
    margin-top:1%;
}


.footer-8-1-1-2 h3{
    font-size: 15px;
}
.footer-8-1-1-2 p{
    font-size: 13px;
    margin-top:1%;
}



.footer-8-1-1-3{
    font-size: 13px;
}
.footer-8-1-1-3 p{
    font-size: 13px;
    margin-top:1%;
}



.footer-8-1-1-4 h3{
    font-size: 15px;
}
.footer-8-1-1-4 p{
    font-size: 13px;
    margin-top:1%;
}


.footer-8-1-1-5 h3{
    font-size: 15px;
}
.footer-8-1-1-5 p{
    font-size: 13px;
    margin-top:1%;
}
.separador6{
    display: flex;
    height: 1px;
    width: 96%;
    background-color: rgba(0, 0, 0, 0.45);
    
    
}

.separador7{
    display: flex;
    height: 1px;
    width: 96%;
    background-color: rgba(0, 0, 0, 0.45);
   
    
    
}

.productos{
    display: flex;
    justify-content: center;

}

.productos p{
    display: flex;
    font-size: 12px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(20, 13, 13, 0.716);
}


.section-footer-final{
display: flex;
justify-content: space-between;

} 
.section-ultimate-1{


}
.section-footer-final-1{
    background-color: rgba(0, 0, 255, 0.267);

    height: 60px;

} 
.section-ultimate-1-1{
    width: 30%;
    background-color: aqua;
    
}
.section-ultimate-1-2{
    width: 50%;    
    background-color: cornflowerblue;

}




.section-footer-text-sub-8-1-1{

        background-color: rgb(43, 226, 52);
        width: 100%;height: 100%;
        padding-left: 8px;padding-right: 8px;
        margin-top: 8px;margin-bottom: 8px;

}

.footer-8-1-1-1{
    background-color: rgb(129, 129, 255);

}
.footer-8-1-1-2{
    background-color: rgb(129, 129, 255);

}
.footer-8-1-1-3{
    background-color: rgb(129, 129, 255);

}
.footer-8-1-1-4{
    background-color: rgb(129, 129, 255);

}
.footer-8-1-1-5{
    background-color: rgb(129, 129, 255);

}


.Logos-Adobe{


    width: 20px;height: auto;

}


.productos{
    
    display: flex;

    flex-direction: row;



}
.Adobe-Creative-Elements{

    display: flex;
    align-items: center;

    padding: 10px;
    font-size: 10px;

    background-color: rgba(138, 138, 238, 0.413);


}
.txt-p-adobe{


    margin: 5px;
}



/* Images */
.section-ultimate-1-1{

    display: flex;
}

.img-size{

    width: 20px; height: auto;
}