/* Selecciones Universales  */

/* *{font-family: adobe-clean,Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;

}
 */

 a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}


/* Selectores GENERALES */
/* Contenedores */



/* 3 */
/* section-container section-6 */





.img-section {

    position: relative;
}


/* Titulos H3 Contenedor "section-container-sub-6-1-1" */
.titulo-app-creative-6-1-3-1 {

    margin-bottom: 30px;
    border-bottom: 1px solid rgb(255, 255, 255);


}

/* Botones a Contenedor "section-container-sub-6-1-1" */
.btn-app-creative-6-1-3-1 {
    height: 35px;
    border: #4400e200 1px solid;
}




/* Titulos H2 Contenedor "section-container-sub-6-1-1 y section-container-sub-4-1-2" */

/* Botones a Contenedor "section-container-sub-6-1-1 y section-container-sub-4-1-2" */


/* Extra 6 contenedor tatara nieto/imagen*/

.section-sub-text-last {

    margin: 25px;

    border: #00000000 2px solid;
}


/* Selectores INDIVIDUALES */
/* Contenedores */

/*section-3 */
.section-6 {
    width: 100%;
    height: 500px;

    background-color: rgba(137, 43, 226, 0);
}

.section-sub-6-1 {
    margin-left: 40px;
    margin-right: 40px;

    width: auto;
    height: 500px;

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.section-sub-6-1-1 {
    width: auto;
    height: 500px;

    background-color: #9393ff00;
    border-color: rgba(0, 0, 0, 0);

    position: relative;

    background-color: #4400e22c;
}

.section-sub-6-1-1-1 {
    display: flex;
    flex-direction: column;

    background-color: rgba(220, 20, 60, 0);
    z-index: 9;
    width: 100%;
    height: 100%;

    background-image: url('Img/2Contenedor2_img1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-text-6-1 {
    /* Texto 1*/

    z-index: 9;
    height: 100%;
    background-color: #ffffff00;

    color: black;

}
.over-image-s6-A{/* contendor imagen */
    text-align: center;
    position: relative;

}

/* .over-img-s6-A1{
    

} */
.over-image-s6-B{/* contendor imagen */
    text-align: center;
    position: relative;

}

/* .over-img-s6-B1{
    

} */

.container-img-1 {

    position: absolute;

    background-color: #acd0ff00;

    z-index: 0;
}

.section-img1 {
    background-size: auto;
}

.section-img1 {
    z-index: 0;

    background-size: cover;
    background-image: url("");
}

.section-sub-6-1-2 {
    width: auto;
    height: 500px;

    background-color: #69e20000;

}

.section-sub-6-1-2-1 {
    /* Texto */
    display: flex;
    flex-direction: column;
    align-content: start;
    background-color: #EB1000;
    width: 100%;
    height: 100%;
    z-index: 9;



}

.container-text-6-2 {
    /* Texto 2*/

    z-index: 9;
    height: 100%;
    background-color: #08007e00;

    color: white;

}

.container-text-6-2 a {
    color: white;
}

.section-img2 {
    display: none;
    width: 100%;
    height: 100%;
}

.section-sub-6-1-3 {
    width: auto;
    height: 500px;

    background-color: #4b1640;
}

.section-sub-6-1-3-1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #9797fc00;
    z-index: 9;
}

.container-text-6 {
    /* Texto 3*/

    z-index: 9;
    height: 100%;
    background-color: #ffffff00;

    display: flex;
    flex-direction: column;

    color: white;

    margin-bottom: 60px;

}

.container-text-6 a {
    /* Texto 3*/

    color: white;
}


.section-img3 {
    display: none;
    width: 100%;
    height: 100%;
}

.titulo-app-creative-6-1-3-1{

    height: 100%;
    
}

.btn-app-creative-6-1-3-1{

    height: 100%;

}
.btn-app-creative-6-1-3-1{

    font-size: 15px;
    
}


.container-text-1{

    height: 100px;
}
.container-text-2{

    height: 100px;
}
.container-text-3{

    height: 100px;
}
.container-text-4{

    height: 100px;
}
.container-text-5{

    height: 100px;
}